@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --bg: black;
    --accent: #ff5100;
    --inactive: #8a8a8a;
    --transparent: #1f1e1e;
    --active: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: var(--inactive)
}

body {
    margin: 0px;
    background-color: var(--bg);
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px;   
}
.nav-left {
    display: flex;
}
.nav-right {
    display: flex;
}
.nav-link {
    padding: 10px  
}
.nav-link a {
    color: var(--inactive);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link a:hover {
    color: var(--active);
}

.container-about {
    display: block;
    margin-left: 25%;
    padding-bottom: 10%; 
    padding-top: 5%;
    width: 50%;   
    font-family: "PT Sans", sans-serif;
    font-weight: 200; 
    text-align: justify;
}

.form {
    text-align: center;
}

.credentials {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.submit {
    display: flex;
    padding: 40px;
    justify-content: center;
    text-align: center;
}

.name {
    display: flex;
    padding: 20px;
    color: var(--active);
}

.affil {
    display: flex;
    padding: 20px;
    color: var(--active);
}

.classfiles {
    display: flex;
    justify-content: center;
    width: 20%;
}

/* Modified version of https://codepen.io/Ushinro/pen/NPQzOx */
input[type="file"] {
	display : none;
}

#file-drag {
	border: 2px dashed var(--inactive);
	border-radius: 7px;
	color: var(--inactive);
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-left: 25%;
	padding-top: 130px;
    text-align: center;
    width: 50%;
    height: 150px;
	transition: all 0.6s;
}

#file-drag:hover,
#file-drag.hover {
    border-style : dotted;
}

#file-upload-form {
	margin : auto;	
    width  : 40%;
}

ul {
    color: var(--inactive);
    text-align: left;
    font-size: 10pt;
	list-style-type : none;
	margin-left     : 25%;
	padding         : 0;
}

#files {
    display: flex;
    position: relative;
    color: var(--inactive);
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
}
#credentials {
    background-color: var(--bg);
    color: var(--active);
    font-size: 12pt;
    text-align: center;
    border: none;
    padding-bottom: 5px;
    border-bottom: 2pt solid var(--inactive);
    outline: none;  
}

form button{
    margin: 0;
    color: var(--bg);
    background: var(--transparent);
    border: none;
    width: 50%;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;

}
form button:hover{
    background: var(--inactive);
    color: var(--bg);
    font-size: 9pt;

    width: 51%;
}
form button:active{
    border:0;
}

::placeholder {
    color: var(--transparent);
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

/* FROM http://jsfiddle.net/La8wQ/313/ */
.double{
    background-image: url("../assets/double.png");
}
.single{
    background-image:url("../assets/single.png");
}

.cc-selector input:active +.drinkcard-cc{
    opacity: .9;

}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    padding: 2px;
    border: 2px solid var(--inactive);
} 
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px; height:100px;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
span.cc{ color:#6d84b4 }

pre{
	background-color: var(--transparent);
	padding: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: "Source Code Pro", sans-serif;
	border-radius: 5px;
    overflow: auto;
    color: var(--inactive)
}

code{
	background-color: var(--transparent);
    padding: 1px 3px;
    font-family: "Source Code Pro", sans-serif;
    font-size: 13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;	
    color: var(--inactive)
}