/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* BASE CONFIGS */
:root {
    --bg: black;
    --accent: #ff5100;
    --inactive: #8a8a8a;
    --transparent: #1f1e1e;
    --active: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: var(--inactive)
}

body {
    margin: 0px;
    background-color: var(--bg);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px;   
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}

.nav-link {
    padding: 10px  
}

.nav-link a {
    color: var(--inactive);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link a:hover {
    color: var(--active);
}

/* ABOUT CONTAINER NEEDS DESIGN IMPROVS*/
.container-about {
    display: block;
    margin-left: 25%;
    padding-bottom: 10%; 
    padding-top: 5%;
    width: 50%;   
    font-family: "PT Sans", sans-serif;
    font-weight: 200; 
    text-align: justify;
}

pre{
	background-color: var(--transparent);
	padding: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: "Source Code Pro", sans-serif;
	border-radius: 5px;
    overflow: auto;
    color: var(--inactive)
}

code{
	background-color: var(--transparent);
    padding: 1px 3px;
    font-family: "Source Code Pro", sans-serif;
    font-size: 13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;	
    color: var(--inactive)
}

/* DRAG AND DROP */
.draganddrop{
    padding-left: 33%;
}

.drag { 
    height: 200px;
    width: 50%; 
    font-family: arial; 
    font-size: 12px;
    border: 2px dashed var(--inactive);
    border-radius: 10px;
    z-index: 1;
}

.drag:hover {
    border: 2px dotted var(--inactive);
}

input[type="file"]{
    height: 100%;
    width: 100%;
    opacity: 0;   
  }

/* FORM */
.form {
    text-align: center;
}

.credentials {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.submit {
    display: flex;
    padding: 40px;
    justify-content: center;
    text-align: center;
}

.name {
    display: flex;
    padding: 20px;
    color: var(--active);
}

.affil {
    display: flex;
    padding: 20px;
    color: var(--active);
}

::placeholder {
    color: var(--transparent);
}

#credentials {
    background-color: var(--bg);
    color: var(--active);
    font-size: 12pt;
    text-align: center;
    border: none;
    padding-bottom: 5px;
    border-bottom: 2pt solid var(--inactive);
    outline: none;  
}

/* BIG BOI BUTTON */
form button{
    margin: 0;
    color: var(--bg);
    background: var(--transparent);
    border: none;
    width: 40%;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    transition: all .2s ease;
    font-weight: bold;
    outline: none;

}

form button:hover{
    background: var(--inactive);
    color: var(--bg);
    font-size: 9pt;
    width: 41%;
}

/* INCLUDING CODE FROM http://jsfiddle.net/La8wQ/313/ */
.classfiles {
    display: flex;
    justify-content: center;
    width: 20%;
}

.double{
    background-image: url("../assets/double.png");
}

.single{
    background-image:url("../assets/single.png");
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.drinkcard-cc{
    opacity: .9;

}

.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    padding: 2px;
    border: 2px solid var(--inactive);
}

.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px; height:100px;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}